
<h1 style = "text-align: center; ">Get to know more About me</h1>

<div class = "ex" >
  <div style = "border:1px solid #ccc;width:300px;margin-bottom:15px;padding:15px;box-shadow:  1px 5px rgb(100, 98, 98);border-radius: 15px;">
  <h2 style = "text-align: center">Experience</h2>
  <p style = "text-align: center;display: block;font-size: larger;">More than One year of experince in Full stack Developement</p>
  </div>
  <div style ="border:1px solid #ccc;width:300px;margin-bottom:15px;padding:15px; box-shadow: 1px 5px rgb(100, 98, 98); border-radius: 15px;">
  <h2 style = "text-align: center">Education</h2>
  <p style = "text-align: center;display: block;font-size: larger;">Btech in computer Sceince and engineering</p>
</div>
</div>

<div style =  "width: 700px; 
word-wrap: break-word; 
white-space: normal;

padding: 10px;
font-size: 20px;
margin: auto;
" >
  <p style = "font-size: 25px;">Welcome! I'm a Full Stack Developer with two years of hands-on experience in the dynamic 
    world of web development with Angular and Node.Js technologies, I bring a passion for crafting 
    innovative and user-centric solutions. My journey has equipped me with a versatile skill set,
     encompassing both front-end and back-end technologies.</p>
</div>