<div style = "text-align: center;margin:0px;">
    <h3>Explore My</h3>
    <h1 style = "font-size: 60px;">Experience</h1>
  </div>
<div class = "maincard">
  <div class = "tecard" >
    <h1>Fullstack Developements</h1>
    <div class = "technologies">
    <div >
    <h3>Angualr</h3>
    <p>Experienced</p>
    </div>
    <div>
    <h3>Javascript</h3>
    <p>Experienced</p>
    </div>
    </div>
    <div class = "technologies">
    <div>
    <h3>HTML</h3>
    <p>Experienced</p>
    </div>
    <div>
    <h3>Typescript</h3>
    <p>Experienced</p>
    </div>
    </div >
    <div class = "technologies">
    <div>
    <h3>CSS</h3>
    <p>Experienced</p>
    </div>
    <div>
      <h3>Angular Material</h3>
      <p>Intermediate</p>
    </div>
    </div>
    
    </div>
  
  <div class = "tecard" >

    <h1>Full stack Developements</h1>
    <div class = "technologies">
    <div >
    <h3>Node Js</h3>
    <p>Experienced</p>
    </div>
    <div>
    <h3>Express Js</h3>
    <p>Experienced</p>
    </div>
    </div>
    <div class = "technologies">
    <div>
    <h3>Azure Devops</h3>
    <p>Experienced</p>
    </div>
    <div>
    <h3>Git</h3>
    <p>Experienced</p>
    </div>
    </div >
    <div style = "text-align :center">
    <h3 >Postman</h3>
    <p>Experienced</p>
    </div>
  </div>
  </div>
 