.technologies{
    display: flex;
    margin: auto;
    justify-content:space-evenly;
}
.tecard{
    border: 1px solid rgb(236, 227, 227);
    box-shadow: 1px 5px rgb(100, 98, 98);
    padding: 20px;
    margin:auto;
    border-radius: 15px;
}
.maincard{
    display: flex;
    justify-content:center;
    

}
