<div style = "margin:auto;text-align: center; ">
    <span style = "font-size:larger;">Browse My Recent</span>
    <h1 style = "font-size: 60px;">Projects</h1>
  <div style = "width:400px;margin: auto;border: 1px solid rgb(244, 229, 229);padding: 20px;border-radius: 25px; box-shadow: 5px 5px rgb(244, 229, 229) ;">
    <div>
  <img style = "width:300px;" src = "https://play-lh.googleusercontent.com/8Ow10EuHTMVHrWZLhBoqaKejDNK33PtuRRtobC5XwYyvodpb_4OMsbi4OzRi9IqjbNs=w240-h480-rw">
</div>
<div>
  <h1>GO PGMS</h1>
</div>
<div style = "background-color: black;padding: 10px;width: fit-content;margin:auto">
  <a style = "color:white;" href="https://gopgms.com/">Live Demo</a>
</div>

</div>
  </div>
  <p style="font-size: 20px;font-weight:lighter;text-align: center;">Note :- This whole project does not belongs to me but I have given multiple functionalities, screens, designs, algorithms and dynamic flows to this project.
  </p>
