<div class="body">
  <div class="container">
    <div class=" header Contentchild">
      <div class="menubar">
        <a class="menu " (click)="menubar()"> <i style="align-items: end;" class="fa-solid fa-bars"> </i> {{
          isMenuVisible ? '' : ''}} </a>
      
      <div  class="sidenav" [class.open] = "isMenuVisible">
        <ul class="headerulmenu" style="font-weight:bold;font-size:25px;">
          <a class="headerschild" href="#aboutme " style="margin: 20px 10px;"> 
            <i
              class="fa-solid fa-circle-info"></i> About</a>
          <a class="headerschild" href="#experience" style="margin: 20px 10px;"> <i
              class="fa-solid fa-graduation-cap"></i> Experience</a>
          <a class="headerschild" href="#project" style="margin: 20px 10px;"> <i class="fa-solid fa-briefcase"></i>
              Project</a>
          <a class="headerschild" href="#contact" style="margin: 20px 10px;"> <i
              class="fa-solid fa-envelope"></i> Contact</a>
        </ul>
      </div>
      </div>
    </div>



    <header class = "header">
    <div>
      <h1 class="profi name" style="font-size: 40px; text-align: center;
      align-items: center;">Hameed Mohammed</h1>
    </div>

           
    <div class="header Content" >
      <ul>
       <a class="headers" href="#aboutme " >About</a>
      <a class="headers" href="#experience" >Experience</a>  
      <a class="headers" href="#project" >Project</a>   
       <a class="headers" href="#contact" >Contact</a> 
       </ul>
      
    </div>
    </header>


  </div>


  <div class="mybio">
    <div>
      <img class="photo" src="/assets/IMG-20250603-WA0013[2].jpg"
        alt="img not found">
    </div>
    <div class = "personal info">
      <div >
        <h2 style="font-weight: lighter;color: rgb(79, 74, 74);">
          Hello I'm
        </h2>
        <h1 class="name" style="font-size: 40px; margin-bottom: 0px;">Hameed Mohammed</h1>
        <h1 class="role" style="color: rgb(41, 40, 40); text-align: center;">Full stack Developer</h1>
      </div>
      <br>
      <div class="contact" style="gap:20px;justify-content: center;">
        <div>
          <a class="cv" href="/assets/Resume.pdf" download="Resume">Download CV</a>
        </div>
        <div>
          <a class="cv" href="#contact ">Contact Info</a>
        </div>
      </div>
    </div>

  </div>

  <section id="aboutme">
    <div style="text-align: center;margin:20px 0px;">
      <span class="subsections">Get to know more </span>
      <h1 class="sections">About Me</h1>
    </div>



    <div class="ex">

      <div class="profile">
        <i class="fa-solid fa-award fa-2x"></i>
        <h2 >Experience</h2>
        <span style="font-size: larger;">2 Years</span>

        <span style="text-align: center;display: block;font-size: larger;">Full stack Developement</span>
      </div>
      <div class="profile">
        <i class="fa-solid fa-user-graduate fa-2x"></i>
        <h2 style="text-align: center">Education</h2>
        <span style="text-align: center;font-size: larger;word-wrap:nowrap ;"> Computer Scinece and Engineering</span>
        <span style="text-align: center;font-size: larger;"> Btech</span>
      </div>
    </div>

    <div class="professional" style="width:700px; 
  word-wrap: break-word; 
  white-space: normal;
  
  padding: 10px;
  font-size: 20px;
  margin: auto;
">
      <p class = "infor">Welcome! I'm a Full Stack Developer with two
        years of hands-on experience in the dynamic
        world of web development with Angular and Node.Js technologies, I bring a passion for crafting
        innovative and user-centric solutions. My journey has equipped me with a versatile skill set,
        encompassing both front-end and back-end technologies.</p>
    </div>
  </section>



  <section id="experience">
    <div style="text-align: center;margin:20px 0px;">
      <span class="subsections">Explore My</span>
      <h1 class="sections">Experience</h1>
    </div>
    <div class="maincard">
      <div class="tecard">

        <h1 class="role" style="text-align: center;">Full stack Developements</h1>
        <br>
        <div class="technologies">
         <div class = "checkbox">
          <div>
            <i class="fa-solid fa-circle-check "></i>
          </div>
          <div class="skills">
            <h3>Angualr</h3>
            <p>Experienced</p>
          </div>
          </div>
           <div class = "checkbox">
          <div>
            <i class="fa-solid fa-circle-check "></i>
          </div>
          <div class="skills">
            <h3>Javascript</h3>
            <p>Experienced</p>
          </div>
          </div>

        </div>

        <div class="technologies">
          <div class = "checkbox">
          <div>
            <i class="fa-solid fa-circle-check"></i>
          </div>

          <div class="skills">
            <h3>HTML</h3>
            <p>Experienced</p>
          </div>
          </div>
          <div class = "checkbox" >
          <div>
            <i class="fa-solid fa-circle-check"></i>
          </div>

          <div class="skills">
            <h3>Typescript</h3>
            <p>Experienced</p>
          </div>
          </div>
        </div>
        <div class="technologies">
          <div class = "checkbox">
          <div>
            <i class="fa-solid fa-circle-check"></i>
          </div>

          <div class="skills">
            <h3>CSS</h3>
            <p>Experienced</p>
          </div>
          </div>
          <div class = "checkbox">
          <div>
            <i class="fa-solid fa-circle-check"></i>
          </div>

          <div class="skills">

            <h3>Angular <br> Material</h3>
            <p>Intermediate</p>
          </div>
        </div>
        </div>

      </div>


      <div class="tecard">

        <h1 class="role" >Full stack Developements</h1>
        <br>
        <div class="technologies">
          <div class = "checkbox">
          <div>
            <i class="fa-solid fa-circle-check"></i>
          </div>

          <div class="skills">
            <h3>Node Js</h3>
            <p>Experienced</p>
          </div>
          </div>
          <div class = "checkbox">
          <div>
            <i class="fa-solid fa-circle-check"></i>
          </div>

          <div class="skills">
            <h3>Express Js</h3>
            <p>Intermediate</p>
          </div>
        </div>
        </div>
        <div class="technologies">
          <div class = "checkbox">
          <div>
            <i class="fa-solid fa-circle-check"></i>
          </div>

          <div class="skills">
            <h3>Azure <br>Devops</h3>
            <p>Experienced</p>
          </div>
          </div>
          <div class = "checkbox">
          <div>
            <i class="fa-solid fa-circle-check"></i>
          </div>

          <div class="skills">
            <h3>Git</h3>
            <p>Experienced</p>
          </div>
          </div>
        </div>
        <div class="technologies">
          <div class = "checkbox" >
          <div>
            <i class="fa-solid fa-circle-check"></i>
          </div>

          <div class="skills">
            <h3>Postgresql</h3>
            <p>Intermediate</p>
          </div>
          </div>
          <div class = "checkbox">
          <div>
            <i class="fa-solid fa-circle-check"></i>
          </div>

          <div class="skills">
            <h3>Postman</h3>
            <p>Intermediate</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section id="project">
    <div style="margin:auto;text-align: center; ">
      <span class="subsections">Browse My Recent</span>
      <h1 class=" sections">Projects</h1>
      <br>
      <div class="pgms">
        <div >
          <img class = "image"  src="/assets/gopgms.png">
        </div>
        <div>
          <h1 class="pgm" style="text-align: center;">GO PGMS</h1>
        </div>
        <br>
        <div  >
          <a class = "live" href="https://gopgms.com/">Live Demo</a>
        </div>

      </div>
    </div>
    <br>
    <p class = "note">Note :- This whole project does not belongs to me
      but I have given multiple functionalities, screens, designs, algorithms and dynamic flows to this project.
    </p>
  </section>
  <br>


  <section id="contact">
    <div style="margin: 0px 0px;text-align: center;">
      <span class="subsections">Get In Touch</span>
      <h1 class=" sections">Contact Me</h1>
      <br>
      <div>
      <span class = "mail">
        

        <a  class="connect"
          href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new"> <i
            style=" margin:0px 10px"
            class="fa-solid fa-envelope "></i><span>hameeduv.36&#64;gmail.com</span></a>
         
        <a  class="connect"
          href="https://www.linkedin.com/in/md-hameed-846266309/?trk=li_LOL_SPIN_global_careers_jobsgtm_otw2_acq_Nov2020_spinv3"><i
            class="fa-brands fa-linkedin " style="margin:0px 10px"></i>
          <span>LinkedIn</span> </a>
      

      </span>
      </div>

    </div>
  </section>
  <br>
  <br>

  <div class="header Content" >
      <ul>
       <a class="headers" href="#aboutme " >About</a>
      <a class="headers" href="#experience" >Experience</a>  
      <a class="headers" href="#project" >Project</a>   
       <a class="headers" href="#contact" >Contact</a> 
       </ul>
      
    </div>
    <br>
    <br>
    


  <div class = "footer">

    <p class="foot">
      Copyright © 2025 Hameed Mohammed. All Rights Reserved.</p>

  </div>
</div>

